*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
}
.image-round{
    border-radius: 100%;
    border: 1px gray solid;
    box-shadow:2px -3px 6px black;
}
.anchor_tag{
    text-decoration: none;
    color: black;
}
.card-shadow{
    /* box-shadow:2px -3px 6px black; */
    box-shadow: 0px 0px 6px 3px  black;
}
.footer{
    position: sticky;
    bottom: 0;
    width: 100%;
}